.homework {
  width: 100%;
  max-width: 830px;
}

.homework__title {
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 30px;
}

.homeWork__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
