.homework {
  width: 100%;
}

.homework__header {
	margin-bottom: 70px;
}

.homework__title {
  margin-bottom: 40px;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 30px;
}

.homeWork__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
