.calendar__header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.calendar__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__title {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
}

.button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue);
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.button:hover {
  opacity: 0.6;
}

.button__arrow_left {
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--blue);
  border-left: 1px solid var(--blue);
  transform: rotate(-45deg) translateX(2px);
}

.button__arrow_right {
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--blue);
  border-right: 1px solid var(--blue);
  transform: rotate(45deg) translateX(-2px);
}

.calendar__month {
  margin: 0 50px 0;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 1100px) {
	.calendar__title {
		font-size: 28px;
	}

	.calendar__month {
		margin: 0 30px 0;
		font-size: 22px;
	}
}