.office {
  max-width: 992px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.office__header {
  width: 100%;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}

.office__content {
  width: 100%;
}

.office__title {
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 600;
}

.students__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 30px;
}

.list__title {
  max-width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway';
  font-size: 20px;
}

.firstSpan {
  width: 65px;
}

.secondSpan {
  width: 195px;
}
