.lesson__goBackBtn {
    margin: 40px 0 60px;
}

.note {
    margin-bottom: 40px;
}

.note__title {
    padding-left: 10px;
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-size: 18px;
}

.note__textarea {
    resize: none;
    width: 575px;
    height: 207px;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 12px;
}

.note__textarea::placeholder {
    font-family: 'Roboto';
    font-size: 18px;
    color: var(--gray);
}

@media screen and (max-width: 1100px) {
    .lesson__goBackBtn {
        margin: 50px 0 40px;
    }
}

