.user {
  display: flex;
  align-items: center;
}

.user__photo {
  object-fit: cover;
  margin-right: 15px;
}

.user__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__name {
  margin-bottom: 10px;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 600;
}

.user__contacts {
  display: flex;
  gap: 25px;
}

.contact__item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
}

.contact__icon {
  margin-right: 13px;
}

.contact__text {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
