.user {
  display: flex;
  align-items: center;
}

.user__photo {
	width: 55px;
	height: 55px;
	margin-right: 15px;
  object-fit: cover;
  border-radius: 50%;
}

.user__info {
  display: flex;
  flex-direction: column;
}

.user__name {
  margin-bottom: 5px;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 600;
}

.user__contacts {
  display: flex;
  gap: 25px;
}

.contact__item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  transition: opacity 0.3s ease-in-out;
}

.contact__item:hover {
  opacity: 0.6;
}

.contact__icon {
  margin-right: 10px;
}

.contact__text {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 819px) {
	.user__name {
		font-size: 22px;
	}

	.user__contacts {
		gap: 20px;
	}

	.contact__text {
		font-size: 12px;
	}
}