.register {
  position: relative;
}

.register__title {
  margin-bottom: 35px;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 600;
}

.backLink {
  margin-left: 5px;
}

.registerImg {
  width: 425px;
  height: 308px;
  position: absolute;
  bottom: 61px;
  left: 110%;
}
