.modal {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  flex-direction: column;
  gap: 10px;
	z-index: 5;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  display: flex;
  flex-direction: column;
	align-items: center;
  gap: 30px;
  text-align: center;
  padding: 50px;
}

.title {
  margin: 0;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 600;
}

.smallTitle {
  margin: 0;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 600;
}

.errorText {
  padding: 30px 0 0px 0;
  border-top: 1px solid #000000;
  font-size: 18px;
}

.closeButton {
  position: absolute;
  top: 26px;
  right: 26px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.closeButton:before,
.closeButton:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 26px;
  height: 2px;
  background-color: var(--black);
}

.closeButton:before {
  transform: rotate(45deg);
}

.closeButton:after {
  transform: rotate(-45deg);
}

.closeButton:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1100px) {
	.title {
		font-size: 22px;
	}
}

@media screen and (max-width: 819px) {
	.closeButton {
		width: 20px;
		height: 20px;
	}

	.closeButton:before,
	.closeButton:after {
  	width: 20px;
}
}