.studentReviewWithCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.studentReviewWithCard__description {
	width: 100%;
  max-width: 66%;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 16px;
}

.student_active {
  font-weight: 600;
}

.student_virtual {
  font-weight: 600;
  color: var(--dark-gray);
}

.studentReviewBlank {
  display: flex;
  justify-content: space-between;
}

.studentReview__title {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 600;
}

.studentReview__blank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 81px 50px 0 0;
}

.studentReview__content {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 21px;
  padding: 20px 0 30px 0;
}

.students__header {
	margin-bottom: 70px;
}

.studentReview__withCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.studentReview__cards_container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
  gap: 18px 20px;
  justify-content: center;
  margin-top: 24px;
}

.studentReview__image {
  margin: 80px 85px 0 20px;
}

@media screen and (max-width: 1250px) {
	.studentReviewWithCard__description {
		max-width: 100%;
	}
}