.root {
    border-radius: 20px;

    &[data-disabled=true] {
        color: var(--gray);
    }

    &[data-size='md'] {
        padding: 18px 60px;
        height: 57px;
    }

    &[data-size='sm'] {
        padding: 10px 40px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

}

.primary {
    color: var(--black);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &[data-variant='transparent'] {
        padding: 0;
        height: auto;
        color: var(--orange);

        &[data-disabled=true] {
            background: transparent;
            color: var(--gray);

        }
    }

    &[data-variant='back'] {
        padding: 0;
        height: auto;
        color: var(--orange);
        background: transparent;
    }
}

.secondary {
    color: var(--white);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &[data-variant='outline'] {
        color: var(--blue);
    }

    &[data-variant='transparent'] {
        padding: 0;
        height: auto;
        color: var(--black);
        font-weight: 600;

        &[data-disabled=true] {
            background: transparent;
            color: var(--gray);
        }
    }

    &[data-variant='back'] {
        padding: 0;
        height: auto;
        color: var(--orange);
        background: transparent;
    }
}


@media screen and (max-width: 819px) {
    .root {
        padding: 10px 40px;
        font-size: 16px;
        height: 39px;
    }
}