.student__title {
  margin-bottom: 40px;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
  width: 100%;
}

.student__backButton {
  margin: 40px 0 60px;
}

.student__info {
  display: flex;
  justify-content: space-between;
  max-width: 915px;
  gap: 25px;
}

.student__image {
	width: 320px;
	height: 300px;
	align-self: flex-end;
}

@media screen and (max-width: 1100px) {
	.student__backButton {
		margin: 50px 0 40px;
	}
}

@media screen and (max-width: 819px) {
	.student__title {
		font-size: 28px;
	}
}