.calendarDay__header {
	margin-bottom: 40px;
}

.calendarDay__goBack {
	margin-bottom: 60px;
}

.calendarDay__content {
  width: 100%;
  display: grid;
}

.calendarDay__title {
  margin-bottom: 50px;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
}

.students__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.list__title {
  display: grid;
  grid-template-columns:
    minmax(270px, 1.67fr)
    minmax(105px, 1.67fr)
    minmax(120px, 1.67fr)
    minmax(50px, 1fr)
    195px;
  align-items: center;
  gap: 50px;
  font-family: 'Raleway';
  font-size: 20px;
}

@media screen and (max-width: 1100px) {
	.calendarDay__goBack {
		margin-bottom: 40px;
	}
}