.office__header {
  width: 100%;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}

.office__content {
  width: 100%;
  display: grid;
}

.office__title {
  margin-bottom: 50px;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
}

.students__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.list__title {
  display: grid;
  grid-template-columns:
    minmax(270px, 1.67fr)
    minmax(105px, 1.67fr)
    minmax(120px, 1.67fr)
    minmax(50px, 1fr)
    195px;
  align-items: center;
  gap: 50px;
  font-family: 'Raleway';
  font-size: 20px;
}
