.input {
  width: 100%;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 12px;
  padding: 12px 0 12px 12px;
}

.input::placeholder {
  color: var(--gray);
}

.input:disabled {
  color: var(--inactive);
  border: 1px solid var(--inactive);
}

.input:disabled[aria-placeholder] {
  color: var(--inactive);
}

.inputBlock {
  position: relative;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.labelText {
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--black);
  padding-bottom: 12px;
}

.commentTip {
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
  padding-top: 8px;
}

.required {
  color: var(--red);
}

.error {
  color: var(--red);
  border: 1px solid var(--red);
}

.error::placeholder {
  color: var(--red);
}

.error:focus {
  color: var(--red);
  border: 1px solid var(--red);
}

.errorTip {
  color: var(--red);
}

.passHide {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
