.input {
    border-color: var(--black);
    border-radius: 12px;
    padding: 19px 0 19px 12px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


    &[data-error] {
        color: var(--red);
        border-color: var(--red);

    }
}

.input::placeholder {
    color: var(--gray);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.label {
    padding-left: 12px;
    padding-bottom: 12px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.error {
    color: var(--red);
    padding-left: 12px;
    padding-top: 5px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description {
    padding-top: 10px;
    padding-left: 12px;
    color: var(--black);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.wrapper[data-error="true"] + .description {
    color: var(--red);
    padding-left: 12px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


