.radio {
    cursor: pointer;
    background: transparent;
    border-color: #071D48;
}

.label {
    cursor: pointer;
}

.icon path {
    fill: #071D48;

}

.root[data-checked=true] .icon {
    --_radio-icon-opacity: 1;
    --_radio-icon-transform: scale(1.5);
}