.profile__title {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 600;
}

.profile__loadPhoto {
  margin-bottom: 25px;
}

.change_pass {
	width: 270px;
	position: absolute;
	bottom: 215px;
	left: 520px;
}