.profile__header {
	margin-bottom: 100px;
}

.profile__title {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 600;
}

.profile__loadPhoto {
  margin-bottom: 25px;
}

.profile__formWrapper {
	position: relative;
	display: flex;
	gap: 30px;
}

.change_pass {
	margin-bottom: 195px;
	align-self: flex-end;
}

.profile__submitButton {
	flex: 1 0 315px;
}

@media screen and (max-width: 1250px) {
	.change_pass {
		margin-bottom: 200px;
	}

	.changePass__button {
		padding: 15px 40px;
	}
}

@media screen and (max-width: 1100px) {
	.profile__header {
		margin-bottom: 0;
		padding-left: 60px;
	}

	.profile__form {
		max-width: 450px;
		margin-top: 60px;
	}

	.profile__loadPhoto {
		position: absolute;
		top: 60px;
		left: 480px;
	}
}

@media screen and (max-width: 819px) {
	.profile__title {
		font-size: 22px;
	}
	
	.profile__loadPhoto {
		width: 100px;
		height: 100px;
	}

	.profile__submitButton {
		flex: 1 0 233px;
		padding: 15px 30px;
	}

	.change_pass {
		margin-bottom: 195px;
	}
}