.cookie {
  position: fixed;
  bottom: 20px;
  width: 100%;
  max-width: 830px;
  padding: 34px 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
	gap: 20px;
  background-color: var(--blue);
  border-radius: 20px;
}

.cookie__text {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
	line-height: calc(16 / 14);
}

.close__cookie {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  padding: 10px;
}

@media screen and (max-width: 1250px) {
	.cookie {
		max-width: 690px;
	}

	.cookie__text p:first-child {
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 819px) {
	.cookie {
		padding: 25px 40px;
	}

	.cookie__text {
		font-size: 12px;
	}
}
