.burger {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
    padding: 35px 25px;
    background-color: var(--blue);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border: none;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.burger:hover {
    opacity: 0.8;
}

.burger__lines {
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.burger__line {
    position: relative;
    display: block;
    background: #fff;
    width: 100%;
    height: 1.5px;
    transition: transform 0.3s;
}

@media screen and (max-width: 1100px) {
    .burger {
        width: 129px;
        height: 90px;
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 470px) {
    .burger {
        width: unset;
    }
}