.authForm {
    max-width: 490px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: relative;
  }
  
  .authForm__backBtn {
    margin-bottom: 100px;
    align-self: flex-start;
    color: var(--orange);
    transition: color 0.3s ease-in-out;
  }
  
  .authForm__backBtn:hover {
    color: var(--orange-hover);
  }
  
  .authForm__backBtn:active {
    color: var(--orange-pressed);
  }

  .authForm__title {
    margin: 0;
    margin-bottom: 35px;
}
  