.userCardFull {
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--black);
  border-radius: 20px;
}

.userCardFull__button_common {
  margin-bottom: 30px;
}

.userCardFull__wrapper {
  margin-bottom: 40px;
  display: flex;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}

.userCardFull__photo {
  margin-right: 20px;
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
}

.userCardFull__name,
.userCardFull__contactItem {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 600;
}

.userCardFull__homeWorkTitle {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}

.userCardFull__name,
.userCardFull__homeWorkTitle {
  margin-bottom: 10px;
}

.userCardFull__contactItem {
  margin-bottom: 15px;
}

.userCardFull__contactItem span {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}

.userCardFull__subject {
  font-size: 18px;
  margin-bottom: 5px;
}

.studentStatus {
  color: var(--dark-gray);
}

.userCardFull__homeWorkStatusContainer {
  margin-bottom: 40px;
  display: flex;
  gap: 35px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}

.userCardFull__homeWorkStatusDone,
.userCardFull__homeWorkStatusArrowUp,
.userCardFull__homeWorkStatusToDo {
  display: flex;
  align-items: center;
}

.userCardFull__homeWorkStatusDone {
  color: var(--green);
}

.userCardFull__homeWorkStatusArrowUp {
  color: var(--orange-pressed);
}

.userCardFull__homeWorkStatusToDo {
  color: var(--red);
}

@media screen and (max-width: 819px) {
  .userCardFull {
    padding: 30px;
  }

  .userCardFull__wrapper {
    margin-bottom: 25px;
  }

  .userCardFull__photo {
		margin-right: 15px;
    width: 55px;
    height: 55px;
  }

  .userCardFull__name,
  .userCardFull__contactItem {
    font-size: 18px;
  }

  .userCardFull__subject,
  .userCardFull__contactItem span,
	.userCardFull__homeWorkTitle {
    font-size: 16px;
  }

	.userCardFull_subjectLevel {
		font-size: 12px;
	}

	.userCardFull__button_common {
		margin-bottom: 25px;
	}
}
