.calendarWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 20px;
}
