.calendarWrapper {
  width: 100%;
  max-width: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 70px);
  grid-template-rows: repeat(6, 70px);
  row-gap: 30px;
  column-gap: 50px;
}

.calendar__weekdays {
  grid-row: 7;
  margin-bottom: 20px;
}
