.calendarWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2px;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 20px;
}

.calendar :nth-child(1) {
  border-radius: 20px 0 0 0;
}

.calendar :nth-child(7) {
  border-radius: 0 20px 0 0 ;
}

.calendar :nth-child(36) {
  border-radius: 0 0 0 20px;
}

.calendar :nth-child(42) {
  border-radius: 0 0 20px 0;
}

@media screen and (max-width: 1100px) {
	.calendarWrapper {
		margin-top: 60px;
	}
}