.main {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__content {
  max-width: 748px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  margin: 0 0 20px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.main__desc {
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(21 / 18);
  text-align: center;
}

.main__image {
  width: 410px;
  height: 285px;
}
