.main {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__buttons {
  align-self: flex-end;
  margin-bottom: 150px;
  display: flex;
  gap: 20px;
}

.main__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 60px;
  border-radius: 20px;
  background-color: var(--orange);
}
.main__button:not(:last-child) {
  margin-right: 20px;
}

.main__content {
  max-width: 748px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  margin: 0 0 20px;
  font-family: 'Raleway';
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.main__desc {
  margin-bottom: 50px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: calc(21 / 18);
  text-align: center;
}

.main__image {
  width: 410px;
  height: 285px;
}
