.noStudents {
	margin-top: 200px;
  display: flex;
  justify-content: space-between;
	align-items: center;
}

.noStudents__content {
	max-width: 490px;
	margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noStudents__title {
	margin-bottom: 20px;
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 600;
}

.noStudents__text {
	margin-bottom: 40px;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: calc(21 / 18);
}

.noStudents__image {
  width: 405px;
}

@media screen and (max-width: 1250px) {
	.noStudents {
		flex-direction: column;
	}

	.noStudents__content {
		order: 2;
		margin: 0;
		max-width: 620px;
		align-items: center;
		text-align: center;
	}

	.noStudents__image {
		margin-bottom: 70px;
	}
}

@media screen and (max-width: 1100px) {
	.noStudents {
		margin-top: 110px;
	}
}

@media screen and (max-width: 819px) {
	.noStudents__content {
		max-width: 575px;
	}

	.noStudents__title {
		font-size: 22px;
	}

	.noStudents__text {
		font-size: 16px;
	}
}