.root {
    width: 100%;
}

.input {
    cursor: pointer;
}

.input:hover {
    outline: 1px solid var(--black, #071D48);

}

.inputFocus {
    outline: 1px solid var(--black, #071D48);
}


.showOptions svg {
    transition: all .3s ease-in-out;
    transform: rotate(180deg);
}

.closeOptions svg {
    transition: all .3s ease-in-out;
    transform: rotate(0);
}

