.modal {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  flex-direction: column;
  gap: 10px;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  padding: 50px;
}

.title {
  margin: 0;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 600;
}

.errorText {
  padding: 30px 0 0px 0;
  border-top: 1px solid #000000;
  font-size: 18px;
}
