.officeItem {
  display: grid;
  grid-template-columns:
    minmax(270px, 1.67fr)
    minmax(105px, 1.67fr)
    minmax(120px, 1.67fr)
    minmax(50px, 1fr)
    195px;
  align-items: center;
  gap: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #b8bbbf;
  font-family: 'Raleway';
  font-size: 18px;
}

.officeItem__user {
  display: flex;
  align-items: center;
}

.officeItem__photo {
  margin-right: 20px;
}

.officeItem__time {
  font-family: 'Roboto';
  font-weight: 400;
}

.statusIcon {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.statusIcon:hover {
  opacity: 0.6;
}

.lookHomework {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.lookHomework:hover {
  opacity: 0.6;
}
