.resetPassword__goBackBtn {
	margin-bottom: 200px;
}

.resetPassword__title {
  margin-bottom: 35px;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 1100px) {
	.resetPassword__goBackBtn {
		margin: 50px 0 40px 0;
	}

	.resetPassword__title {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 819px) {
	.resetPassword__title {
		font-size: 22px;
	}
}