.navbar {
	position: sticky;
	top: 0;
	left: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  width: 270px;
  height: 100vh;
  padding: 20px 0 72px;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.navbar__logo_link {
	width: 250px;
	margin-bottom: 70px;
}

.navbar__logo {
	width: 100%;
  object-fit: cover;
}

.navbar__menu {
  flex: 1;
  padding: 0 35px 0 40px;
}

.navbar__list {
  list-style: none;
}

.navbar__item {
  margin-bottom: 30px;
  transition: opacity 0.3s ease-in-out;
}

.navbar__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
}

.navbar__link_active {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--orange);
  font-size: 18px;
  font-weight: 700;
}

.navbar__link:hover {
  color: var(--orange-hover);
  transition: color 0.3s ease-in-out;
}

.navbar__link > span {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
}

.contacts {
  padding: 0 35px 0 40px;
  list-style: none;
}

.contacts__item {
  margin-bottom: 21px;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.link:hover {
  opacity: 0.5;
}

.link__icon {
  margin-right: 12px;
}

.link__text {
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
}

.closeButton {
	display: none;
  position: absolute;
  top: 36px;
  right: 36px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.closeButton:before,
.closeButton:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 21px;
  height: 2px;
  background-color: var(--white);
}

.closeButton:before {
  transform: rotate(45deg);
}

.closeButton:after {
  transform: rotate(-45deg);
}

.closeButton:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1000px) {
  .navbar {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
		position: absolute;
    z-index: 2;
		padding-top: 25px;
  }
	.navbar.active {
		transform: translateX(0);
	}

	.navbar__logo_link {
		box-sizing: content-box;
		display: block;
		width: 142px;
		margin-bottom: 150px;
		padding-left: 49px;
	}

	.navbar__link_active {
		font-size: 16px;
	}

	.navbar__link {
		font-size: 16px;
	}

	.navbar__menu {
		padding-left: 49px;
	}

	.closeButton {
		display: block;
	}

	.contacts {
padding-left: 43px;
	}
}