.weekdays {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(7, minmax(auto, 143px));
  text-align: center;
}

.weekday, .weekend {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 20px;
}

.weekend {
  color: red;
}

@media screen and (max-width: 1100px) {
	.weekdays {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 819px) {
	.weekday, .weekend {
		font-size: 18px;
	}
}