.calendarPage {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendarPage__backBtn {
  margin-bottom: 70px;
  align-self: flex-start;
  color: var(--orange);
  transition: color 0.3s ease-in-out;
}

.calendarPage__backBtn:hover {
  color: var(--orange-hover);
}

.calendarPage__backBtn:active {
  color: var(--orange-pressed);
}

.calendarPage__title {
  margin-bottom: 50px;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
}
