.noLesson__content {
	margin-top: 200px;
}

@media screen and (max-width: 1250px) {
	.noLesson__content {
		margin-top: 150px;
	}
}

@media screen and (max-width: 1100px) {
	.noLesson__content {
		margin-top: 110px;
	}
}