.changePass__goBackBtn {
	margin-bottom: 200px;
}

.changePass__title {
  margin-bottom: 35px;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 600;
}

.changePass__comment {
  max-width: 400px;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: calc(21 / 18);
  margin: 20px 0 25px;
}
