.root {
    width: 100%;
}

.input {
    cursor: pointer;
    background-color: inherit;
}

.input:hover {
    outline: 1px solid var(--black, #071D48);

}

.inputFocus {
    outline: 1px solid var(--black, #071D48);
}

.hide {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showOptions svg {
    transition: all .3s ease-in-out;
    transform: rotate(180deg);
}

.closeOptions svg {
    transition: all .3s ease-in-out;
    transform: rotate(0);
}

