.calendarItem {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--white);
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.calendarItem::after {
	content: "";
  padding-top: 85%;
  display: block;
}

.calendarItem:hover {
  padding: 8px 18px 0 0;
  border: 2px solid var(--blue);
}
.calendarItem:active {
  background-color: var(--blue);
}

.item__content {
	padding: 10px 20px 0 0;
}

.currentDay {
  border: 7px solid var(--blue);
}
.currentDay_content {
	padding: 3px 13px 0 0;
}
.currentDay:hover {
  border: 7px solid var(--blue);
}
.currentDay_content:hover {
	padding: 3px 13px 0 0;
}
.currentDay:active {
  background-color: var(--blue);
  border-color: rgba(7, 29, 72, 0.6);
}
.currentDay_content:active {
	padding: 3px 13px 0 0;
}

.currentDay.isLessons:hover {
  border: 7px solid var(--green);
}
.currentDay.isLessons:active {
  border: 7px solid rgba(7, 29, 72, 0.6);
  background-color: #27bf24;
}

.isLessons {
  border-color: var(--green);
  background-color: var(--light-green);
}
.isLessons:hover {
  border: none;
  background-color: #83db81;
}
.isLessons:active {
  border: none;
  background-color: #27bf24;
}

.notCurrentMonth {
  color: var(--gray);
}

@media screen and (max-width: 1250px) {
	.item__content {
		font-size: 26px;
	}
}

@media screen and (max-width: 819px) {
	.item__content {
		font-size: 22px;
	}
}