.calendarItem {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--white);
  border: 2px solid transparent;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.calendarItem::after {
	content: "";
  padding-top: 83%;
  display: block;
}

.calendarItem:hover {
  border: 2px solid var(--blue);
}

.item__content {
	padding: 10px 20px 0 0;
}

.currentDay {
  border: 4px solid var(--blue);
}
.currentDay_content {
	padding: 3px 13px 0 0;
}
.currentDay:hover {
  border: 4px solid var(--blue);
}
.currentDay_content:hover {
	padding: 3px 13px 0 0;
}

.isLessons {
  background-color: var(--orange);
}

.notCurrentMonth {
  color: var(--gray);
}

@media screen and (max-width: 1250px) {
	.item__content {
		font-size: 26px;
	}
}

@media screen and (max-width: 819px) {
	.item__content {
		font-size: 22px;
	}

  .calendarItem::after {
    padding-top: 102%;
  }
}