.calendarItem {
  padding: 10px 20px 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--white);
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.calendarItem:hover {
  border: 2px solid var(--blue);
}
.calendarItem:active {
  background-color: var(--blue);
}

.currentDay {
  padding: 3px 13px 0 0;
  border: 7px solid var(--blue);
}
.currentDay:active {
  background-color: var(--blue);
  border-color: rgba(7, 29, 72, 0.6);
}

.isLessons {
  background-color: var(--light-green);
}

.notCurrentMonth {
  color: var(--gray);
}
