@import url(./assets/vendor/normalize.css);
@import url(./assets/vendor/fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #071d48;
  --orange: #ffbd59;
  --orange-hover: #ffab2b;
  --orange-pressed: #ff9a00;
  --red: #ec0f0f;
  --blue: #2459bf;
  --inactive:#efeeee;
  --white: #ffffff;
  --grey: #b8bbbf;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  color: var(--black);
}
