.checkbox__wrapper {
	width: 36px;
  height: 36px;
}

.checkbox {
	z-index: -1;
	position: absolute;
	opacity: 0;
}

.checkbox+label {
  display: flex;
  align-items: center;
  user-select: none;
}

.checkbox+label::before {
	content: '';
	box-sizing: border-box;
  display: block;
  width: 36px;
  height: 36px;
  border: 1px solid #000;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
	cursor: pointer;
}

.checkbox:checked+label::before {
  background-image: url('../../../assets/icons/checkbox.svg');
}

.checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #000;
}

.checkbox:focus+label::before {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
}

.checkbox:disabled + label::before {
	opacity: 0.5;
}