.input {
    cursor: pointer;
    background: transparent;
    border-color: var(--black);

    &[data-error=true] {
        border-color: var(--red);
    }

    &[data-error=true] {
        border-color: var(--red);
    }

}

.input[data-error='true'] + svg path {

    stroke: var(--red);

}

.body {
    display: flex;
    flex-direction: column;
}

.labelWrapper p {
    padding-left: 0;
}